/* game system */

	#bigkeyboard{
		position:absolute;
		left:490px;
		top:40px;
		width:1027px;
		height:392px;
		background-image:url("i_keyboard.png");
		cursor:pointer;
	}
	#hintcol{
		position:absolute;
		left:650px;
		top:480px;
		width:722px;
		height:106px;
		background-image:url("i_hintcol.png");
	}
/* 키보드 면 설정 */

	#keycol{
		position:absolute;
		left:280px;
		top:200px;
		width:1331px;
		height:134px;
		background-image:url("i_keycol.png");
	}
	#seorap{
		position:absolute;
		left:740px;
		top:730px;
		width:400px;
		height:159px;
		background-image:url("i_close_seorap.png");
	}
	#opseohit{
		position:absolute;
		left:195px;
		top:100px;
		width:30px;
		height:30px;
		cursor:pointer;
	}
	#seohit:checked ~ ul #opseohit{
		border:1px solid gray;
	}
/* 서랍 면 설정 */

	#i1:checked + #isl1:checked + #seohit:checked ~ ul #seorap{
		display:block;
		position:absolute;
		left:720px;
		top:730px;
		width:442px;
		height:188px;
		background-image:url("i_open_seorap.png");
	}
	#i1:checked + #isl1:checked + #seohit:checked ~ ul #islot1{
		display:none;
	}
	#i1:checked + #isl1:checked + #seohit:checked ~ ul #opseohit{
		display:none;
	}
	#i1:checked + #isl1:checked + #seohit:checked ~ ul #islot2{
		position:absolute;
		left:1780px;
		top:2px;
		z-index:3;
		width:130px;
		height:130px;
		background:url("i_islot.jpg") no-repeat;
		cursor:pointer;
	}
	#i1:checked + #isl1:checked + #seohit:checked ~ ul #i2div{
		display:block;
		position:absolute;
		left:160px;
		top:95px;
		width:80px;
		height:27px;
		background-image:url("i_filed_keyboard.png");
		cursor:pointer;
	}
	#i2:checked + #isl2:checked + #keyhit1:checked ~ ul #bigkeyboard{
		position:absolute;
		left:489px;
		top:39px;
		background-image:url("i_keyboard_active.png");
	}
	#i2:checked + #isl2:checked + #keyhit1:checked ~ ul #islot2{
		display:none;
	}
	#i2:checked + #isl2:checked + #keyhit1:checked ~ ul #keyjohit1{
		display:none;
	}
	#i2:checked + #isl2:checked + #keyhit1:checked ~ ul #moni_off{
		display:none;
	}
/* 키보드 키 조합 설정 */

	input[type=reset]{
		width:100%;
		height:100%;
		opacity:0;
		cursor:pointer;
	}
	#blackhol{
		position:absolute;
		left:1550px;
		top:720px;
		width:136px;
		height:63px;
		background-image:url("i_holclose.png");
	}
	#blackholactive{
		display:none;
	}
	#fa1div{
		position:absolute;
		left:640px;
		top:620px;
		z-index:0;
		width:82px;
		height:83px;
		background-image:url("i_but.png");
		cursor:pointer;
	}
	#fa1div:active{
		background-image:url("i_butactive.png");
	}
	#fa2div{
		position:absolute;
		left:770px;
		top:620px;
		z-index:0;
		width:82px;
		height:83px;
		background-image:url("i_but.png");
		cursor:pointer;
	}
	#fa2div:active{
		background-image:url("i_butactive.png");
	}
	#fa3div{
		position:absolute;
		left:930px;
		top:620px;
		z-index:0;
		width:82px;
		height:83px;
		background-image:url("i_but.png");
		cursor:pointer;
	}
	#fa3div:active{
		background-image:url("i_butactive.png");
	}
	#fa4div{
		position:absolute;
		left:1100px;
		top:620px;
		z-index:0;
		width:82px;
		height:83px;
		background-image:url("i_but.png");
		cursor:pointer;
	}
	#fa4div:active{
		background-image:url("i_butactive.png");
	}
	#fa5div{
		position:absolute;
		left:1280px;
		top:620px;
		z-index:0;
		width:82px;
		height:83px;
		background-image:url("i_but.png");
		cursor:pointer;
	}
	#fa5div:active{
		background-image:url("i_butactive.png");
	}
	#an1div{
		position:absolute;
		left:770px;
		top:620px;
		z-index:1;
		width:82px;
		height:83px;
		background-image:url("i_but.png");
		cursor:pointer;
	}
	#an1div:active{
		background-image:url("i_butactive.png");
	}
	#an1:checked ~ div #an2div{
		position:absolute;
		left:930px;
		top:620px;
		z-index:1;
		width:82px;
		height:83px;
		background-image:url("i_but.png");
		cursor:pointer;
	}
	#an1:checked ~ div #an2div:active{
		background-image:url("i_butactive.png");
	}
	#an1:checked + #an2:checked ~ div #an3div{
		position:absolute;
		left:640px;
		top:620px;
		z-index:1;
		width:82px;
		height:83px;
		background-image:url("i_but.png");
		cursor:pointer;
	}
	#an1:checked + #an2:checked ~ div #an3div:active{
		background-image:url("i_butactive.png");
	}
	#an1:checked + #an2:checked + #an3:checked ~ div #an1div{
		display:none;
	}
	#an1:checked + #an2:checked + #an3:checked ~ div #an2div{
		display:none;
	}
	#an1:checked + #an2:checked + #an3:checked ~ div #an3div{
		display:none;
	}
	#an1:checked + #an2:checked + #an3:checked ~ div input[type=reset]{
		display:none;
	}
	#an1:checked + #an2:checked + #an3:checked ~ div #blackholactive{
		display:block;
		position:absolute;
		left:1550px;
		top:720px;
		width:136px;
		height:63px;
		background-image:url("i_holopen.png");
	}
/* 배열 순서 설정 */

	#i1div{
		display:block;
		position:absolute;
		left:50px;
		top:30px;
		width:55px;
		height:22px;
		background-image:url("i_filed_key.png");
		cursor:pointer;
	}
	#i2div{
		display:none;
	}
	#i3div{
		position:absolute;
		left:100px;
		top:20px;
		width:15px;
		height:15px;
		background-color:red;
		cursor:pointer;
	}
	#i4div{
		position:absolute;
		left:800px;
		top:900px;
		width:15px;
		height:15px;
		background-color:red;
		cursor:pointer;
	}
/* 아이템 끝 */

	#jb1div{
		position:absolute;
		left:1780px;
		top:650px;
		width:130px;
		height:50px;
		background:url("i_jobu.jpg") no-repeat;
		cursor:pointer;
	}
	#jb1div:hover{
		background:url("i_jobuh.jpg") no-repeat;
	}
	#jb1:checked ~ ul #jb1div{
		background:url("i_jobua.jpg") no-repeat;
	}
	#jb2div{
		display:none;
	}
	#jb2div:hover{
		background:url("i_jobuh.jpg") no-repeat !important;
	}
	#jb2:checked ~ ul #jb2div{
		background:url("i_jobua.jpg") no-repeat !important;
	}
	#jb3div{
		display:none;
	}
	#jb3div:hover{
		background:url("i_jobuh.jpg") no-repeat !important;
	}
	#jb3:checked ~ ul #jb3div{
		background:url("i_jobua.jpg") no-repeat !important;
	}
/* 아이템 조합 버튼 끝 */

	#ji1div{
		display:none;
	}
	#ji2div{
		display:none;
	}
	#ji3div{
		display:none;
	}
/* 조합 아이템 끝 */

	#doordiv{
		position:absolute;
		left:670px;
		top:50px;
		width:550px;
		height:800px;
		background:url("i_Door.png") no-repeat;
		cursor:no-drop;
	}
	#dd:checked ~ ul #doordiv{
		border:0.1px solid gray;
	}
	#door_opendiv{
		display:none;
	}
/* 문 끝 */

	#islot1{
		position:absolute;
		left:1780px;
		top:2px;
		width:130px;
		height:130px;
		background:url("i_islot.jpg") no-repeat;
		cursor:pointer;
	}
	#islot2{
		position:absolute;
		left:1780px;
		top:152px;
		width:130px;
		height:130px;
		background:url("i_islot.jpg") no-repeat;
		cursor:pointer;
	}
	#islot3{
		position:absolute;
		left:1780px;
		top:302px;
		width:130px;
		height:130px;
		background:url("i_islot.jpg") no-repeat;
		cursor:pointer;
	}
	#islot4{
		position:absolute;
		left:1780px;
		top:452px;
		width:130px;
		height:130px;
		background:url("i_islot.jpg") no-repeat;
		cursor:pointer;
	}
/* 아이템 기본 슬롯 끝 */

	#bisd1{
		position:absolute;
		left:1780px;
		top:2px;
		z-index:-1;
		width:130px;
		height:130px;
		background:url("i_islot.jpg") no-repeat;
		cursor:pointer;
	}
	#bisd2{
		position:absolute;
		left:1780px;
		top:152px;
		z-index:-1;
		width:130px;
		height:130px;
		background:url("i_islot.jpg") no-repeat;
		cursor:pointer;
	}
	#bisd3{
		position:absolute;
		left:1780px;
		top:302px;
		z-index:-1;
		width:130px;
		height:130px;
		background:url("i_islot.jpg") no-repeat;
		cursor:pointer;
	}
	#bisd4{
		position:absolute;
		left:1780px;
		top:452px;
		z-index:-1;
		width:130px;
		height:130px;
		background:url("i_islot.jpg") no-repeat;
		cursor:pointer;
	}
	#bjo{
		position:absolute;
		left:1780px;
		top:650px;
		z-index:-1;
		width:130px;
		height:50px;
		background:url("i_jobu.jpg") no-repeat;
		cursor:pointer;
	}
/* 백그라운드 아이템 슬롯 끝*/

	#bisl1:checked ~ ul #bisd1{
		border:3px outset skyblue;
	}
	#bisl2:checked ~ ul #bisd2{
		border:3px outset skyblue;
	}
	#bisl3:checked ~ ul #bisd3{
		border:3px outset skyblue;
	}
	#bisl4:checked ~ ul #bisd4{
		border:3px outset skyblue;
	}
	#bjo:hover{
		background:url("i_jobuh.jpg") no-repeat;
	}
	#bjob:checked ~ ul #bjo{
		background:url("i_jobua.jpg") no-repeat;
	}
/* 백그라운드 아이템 슬롯 선택 끝*/

	#i1:checked ~ ul #islot1{
		background-image:url("i_item_key.png");
	}
	#i1:checked ~ ul #i1div{
		display:none;
	}
	#i2:checked ~ ul #islot2{
		background-image:url("i_item_keyboard.png") !important;
	}
	#i2:checked ~ ul #i2div{
		display:none !important;
	}
	#i3:checked ~ ul #islot3{
		display:none;
	}
	#i3:checked ~ ul #i3div{
		display:none;
	}
	#i4:checked ~ ul #islot4{
		background-color:red;
	}
	#i4:checked ~ ul #i4div{
		display:none;
	}

/* 기본 아이템 획득 끝 */

	#isl1:checked ~ ul #islot1{
		border:3px outset skyblue;
	}
	#isl2:checked ~ ul #islot2{
		border:3px outset skyblue;
	}
	#isl3:checked ~ ul #islot3{
		border:3px outset skyblue;
	}
	#isl4:checked ~ ul #islot4{
		border:3px outset skyblue;
	}
	#ji1:checked ~ ul #ji1div{
		border:3px outset skyblue;
	}
	#ji2:checked ~ ul #ji2div{
		border:3px outset skyblue;
	}
	#ji3:checked ~ ul #ji3div{
		border:3px outset skyblue;
	}
/* 획득 아이템 선택 끝 */

	#i1:checked + #i2:checked + #isl1:checked + #isl2:checked + #jb1:checked ~ ul #ji1div{
		display:block;
		position:absolute;
		left:1780px;
		top:2px;
		width:130px;
		height:130px;
		background:url("i_islot.jpg") no-repeat;
		cursor:pointer;
	}
	#i1:checked + #i2:checked + #isl1:checked + #isl2:checked + #jb1:checked ~ ul #islot1{
		display:none;
	}
	#i1:checked + #i2:checked + #isl1:checked + #isl2:checked + #jb1:checked ~ ul #islot2{
		display:none;
	}
	#i1:checked + #i2:checked + #isl1:checked + #isl2:checked + #jb1:checked ~ ul #jb1div{
		display:none;
	}
	#i1:checked + #i2:checked + #isl1:checked + #isl2:checked + #jb1:checked ~ ul #jb2div{
		display:block;
		position:absolute;
		left:1780px;
		top:650px;
		width:130px;
		height:50px;
		background:url("i_jobu.jpg") no-repeat;
		cursor:pointer;
	}
/* 처음 아이템 조합 끝 */

	#i3:checked + #i4:checked + #isl3:checked + #isl4:checked + #jb2:checked ~ ul #ji2div{
		display:block;
		position:absolute;
		left:1780px;
		top:152px;
		width:130px;
		height:130px;
		background:url("i_islot.jpg") no-repeat;
		cursor:pointer;
	}
	#i3:checked + #i4:checked + #isl3:checked + #isl4:checked + #jb2:checked ~ ul #islot3{
		display:none;
	}
	#i3:checked + #i4:checked + #isl3:checked + #isl4:checked + #jb2:checked ~ ul #islot4{
		display:none;
	}
	#i3:checked + #i4:checked + #isl3:checked + #isl4:checked + #jb2:checked ~ ul #jb2div{
		display:none;
	}
	#i3:checked + #i4:checked + #isl3:checked + #isl4:checked + #jb2:checked ~ ul #jb3div{
		display:block;
		position:absolute;
		left:1780px;
		top:650px;
		width:130px;
		height:50px;
		background:url("i_jobu.jpg") no-repeat;
		cursor:pointer;
	}
/* 두번째 아이템 조합 끝 */

	#ji1:checked + #ji2:checked + #jb3:checked ~ ul #ji3div{
		display:block;
		position:absolute;
		left:1780px;
		top:2px;
		width:130px;
		height:130px;
		background:url("i_islot.jpg") no-repeat;
		cursor:pointer;
	}
	#ji1:checked + #ji2:checked + #jb3:checked ~ ul #ji1div{
		display:none !important;
	}
	#ji1:checked + #ji2:checked + #jb3:checked ~ ul #ji2div{
		display:none !important;
	}
	#ji1:checked + #ji2:checked + #jb3:checked ~ ul #jb3div{
		display:none !important;
	}
/* 마지막 아이템 조합 끝 */

	#ji3:checked ~ ul #doordiv{
		cursor:pointer !important;
	}
	#ji3:checked + #dd:checked ~ ul #ji3div{
		display:none !important;
	}
	#ji3:checked + #dd:checked ~ ul #doordiv{
		display:none;
	}
	#ji3:checked + #dd:checked ~ ul #door_opendiv{
		display:block;
		position:absolute;
		left:670px;
		top:50px;
		width:550px;
		height:800px;
		background-color:brown;
		cursor:pointer;
	}
/* 방 탈출 끝 */